body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background: #001821;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
}

a {
    color: inherit;
}

.main-page-wrapper {
    background: url("./image/main-1.png") center top no-repeat, url("./image/main-2.png") right -280px bottom 200px no-repeat;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

header {
    height: 120px;
    position: relative;
    margin-bottom: 70px;
}

.logo {
    display: block;
    position: absolute;
    top: 21px;
    left: 0px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.section_title {
    font-size: 36px;
    font-weight: bold;
}

.offers__title {
    margin-bottom: 50px;
}

.button {
    border-radius: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #F5170E;
    font-size: 14px;
}

.intro__button {
    width: 168px;
    height: 55px;
    padding: 17px 39px;
   }

.card__button {
    width: 135px;
    height: 55px;
    padding: 17px 29px;
}
.about__button {
    width: 168px;
    height: 55px;
    padding: 17px 39px;
    margin-left: -65px;
}

.button_style_common,
.card__button.button_style_uncommon:hover {
    background: #F5170E;
    color: #fff;
}

.button_style_uncommon,
.card__button.button_style_common:hover {
    background: #fff;
    color: #F5170E;
}

.general-menu {
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 164px;
}

.general-menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.general-menu__item_active .general-menu__link {
    color: #DA0100;
}

.general-menu__link {
    text-decoration: none;
}

.general-menu__item:last-child {
    margin-right: 0;
}

.general-menu__link:hover {
    color: #DA0100;
}

.contacts {
    position: absolute;
    top: 17px;
    right: 0;
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__info {
    font-size: 13px;
    text-decoration: underline;
    margin-top: -7px;
    color: #98A4A8;
    ;
}

.contacts__info:hover {
    color: #fff;
}



.intro__section {
    width: 520px;
    margin-bottom: 245px;
}

.intro__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.27;
    margin-bottom: 40px;
}

.intro__text {
    font-size: 18px;
    margin-bottom: 29px;
}



.offers {
    margin-bottom: 124px;
}



.card {
    background: #fff;
    color: #303030;
    border-radius: 4px;
    display: inline-block;
    width: 362px;
}

.offers__item{
    margin-right: 22px;
}

.card__header {
    min-height: 150px;
    margin-bottom: 14px;
}

.offers__item:last-child {
    margin-right: 0;
}

.card__content {
    padding: 20px 23px;

}

.card__subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;

}

.card__feature {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    margin-right: 40px;
}

.card__feature:last-child {
    margin: 0;
}

.card__text {
    color: #666666;
    display: inline-block;
}

.card__desc {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card__features {
    margin-bottom: 26px;
}

.news {
    margin-bottom: 143.5px;
}

.news__title {
    margin-bottom: 50px;
}

.news__list {
    margin-bottom: 55px;
}

.advertisement {
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    margin-right: 20px;
}

.news__item:last-child {
    margin-right: 0;
}

.advertisement__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*заполняет полностью блок, в котором  находится*/

}

.advertisement__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 17px 30px;
    min-height: 160px;
}

.advertisement__date {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 12.5px;
}

.advertisement__subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.pagination {
    text-align: center;
}

.pagination__info,
.pagination__list {
    display: inline-block;
    vertical-align: middle;
}


.pagination__info {
    margin-right: 25px;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;

}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    /*чтобы выровнять активную цыфру в пагинации: */
    line-height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;

}

.pagination__item-active .pagination__link {
    background: #fff;
    color: #F5170E;

}

.pagination__item .pagination__link:hover {
    background: #fff;
    color: #F5170E;

}

.about__inside::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url("./image/gates.png") center center / cover no-repeat;

}

.about__info {
    padding: 70px 143px;
    display: inline-block;
    vertical-align: top;
    background: url("./image/mountains.png") center center / cover no-repeat;
    margin-left: -142px;
    margin-top: 95px;
    margin-bottom: 86px;
}


.about__title {
    margin-bottom: 37px;
}

.title_color_black {
    color: #000000;
}

.about__descr {
    color: #060606;
    margin-bottom: 35px;
    width: 500px;
    line-height: 1.8;

}

/*если появятся дополнительные абзацы: */
.about__descr p {
    margin-bottom: 20px;
}

.about__descr p:last-child {
    margin-bottom: 0;
}

.footer__content {
    height: 146px;
    position: relative;
}

.footer-line {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.contacts__text {
    color: #9A9A9A;
    font-size: 11px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    /*чтобы картинка на социалках не повторялась, если увеличить*/
    background: center center no-repeat;


}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__list {
    top: 20px;
    right: 268px;
    position: absolute;
}

.socials__item_icon_telegram .socials__link {
    background-image: url(./image/telegram.png);
}

.socials__item_icon_telegram .socials__link:hover {
    background-image: url(./image/telegram-hover.png);
}

.socials__item_icon_vk .socials__link {
    background-image: url(./image/vk.png);
}

.socials__item_icon_vk .socials__link:hover {
    background-image: url(./image/vk-hover.png);
}

.socials__item_icon_fb .socials__link {
    background-image: url(./image/f.png);
}

.socials__item_icon_fb .socials__link:hover {
    background-image: url(./image/f-hover.png);
}

.socials__item_icon_insta .socials__link {
    background-image: url(./image/in.png);
}

.socials__item_icon_insta .socials__link:hover {
    background-image: url(./image/in-hover.png);
}