.about__inside {
    display: flex;
}

.about {
    margin-bottom: 53px;
}

.about__inside::before {
    content: "";
    display: block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url("../../image/main_img/gates.png") center center / cover no-repeat;
    border-radius: 5px;

}

.about__info {
    padding: 71px 78px;
    max-width: 785px;
    background: url("../../image/main_img/mountains.png") center center / cover no-repeat;
    margin-left: -142px;
    margin-top: 95px;
    border-radius: 5px;

}

.about__title {
    margin-bottom: 37px;
}

.title_color_black {
    color: #000000;
}

.about__descr {
    color: #060606;
    margin-bottom: 31px;
    width: 630px;
    line-height: 1.8;
    padding: 0px 129px 0px 0px;

}

/*если появятся дополнительные абзацы: */
.about__descr p {
    margin-bottom: 20px;
}

.about__descr p:last-child {
    margin-bottom: 0;
}