.main-page-wrapper {
    background: url("../../image/main_img/main-1.png") center top no-repeat, url("../../image/main_img/main-2.png") right -280px bottom 15px no-repeat;
    min-width: 1200px;
}

.hello-wrapper {
    background: url("../../image/hello_img/hello_bg.png") center top no-repeat;
    min-height: 960px;
    min-width: 1200px;
}

.services-wrapper{
    background: url('../../image/services_img/services_background.png') top no-repeat;
    min-width: 1200px;
}