
.breadcrumbs {
    margin-top: auto;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.breadcrumbs__link_active {
    font-weight: bold;
    color: #9A9A9A;
}

.breadcrumbs__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumbs__item:after {
    padding-left: 2px;
    content: "/";
    color: #9A9A9A;
    padding: 0px 2px;
}

.breadcrumbs__item:last-child::after {
    content: none;
}