.button {
    border-radius: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #F5170E;
    font-size: 14px;
    padding: 17px 39px;
}

.intro__button:hover,
.about__button:hover {
    background: #DA0100;
}

.card__button {
    padding: 17px 29px;
}

.button_style_common,
.card__button.button_style_uncommon:hover {
    background: #F5170E;
    color: #fff;
}

.button_style_uncommon,
.card__button.button_style_common:hover {
    background: #fff;
    color: #F5170E;
}
.hello__button{
    padding: 17px 57px;
}

.hello__button:hover{
    background: #DA0100;
}

.button-type-send:hover{
    background: #DA0100;
}
.button-type-clear{
    background: #8E8E8E;
color: #fff;
border: 1px solid #8E8E8E;
padding: 17px 44px;

}

.button-type-clear:hover{
    background: #2B2B2B;
}

.form__button{
    margin-right: 20px;
}
.form__button:last-child{
    margin-right: 0;
}
.form__btns{
display: flex;
justify-content: flex-end;
}


