
.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
}

.contacts__info {
    font-size: 13px;
    text-decoration: underline;
    margin-top: -7px;
    color: #98A4A8;
}

.contacts__info:hover {
    color: #fff;
}
.contacts__text {
    color: #9A9A9A;
    font-size: 11px;
}