.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__menu {
    right: 0;
    background: #EDEDED;
    /* opacity: 0.8; */
    border-radius: 4px;
    width: 160px;
    top: 100%;
    margin-top: 9px;
    opacity: 0;
    padding: 16px 18px;
    position: absolute;
    transition: opacity .5s;
    visibility: hidden;
    text-align: left;
}

/* отступ */
.dropdown__menu::before {
    position: absolute;
    content: " ";
    display: block;
    height: 10px;
    /* расстягиваем по ширине блока: */
    left: 0;
    right: 0;
    top: -9px;
}

/* треугольник */
.dropdown__menu::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: #EDEDED;
    border-top: 0;
    position: absolute;
    bottom: 100%;
    right: 40px;

}

.dropdown:hover .dropdown__menu {
    opacity: 1;
    visibility: visible;
}




.dropdown__item {
    color: #1E1F20;
    font-size: 13px;
}

.dropdown_hours {
    font-weight: 700;
    margin-bottom: 2px;
}

.dropdown_break {
    font-weight: 500;
}