.bottom-section_reviews {
    padding: 60px 0 95px 0;
}
.form__row {
    display: flex;
    margin-bottom: 25px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 0 30px;
    font-size: 18px;
    color: #000000;
    min-height: 65px;
    line-height: 1.2;
}

.form__input::placeholder {
    color: #666;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input_textarea {
    height: 232px;
    padding-top: 22px;
    resize: none;
}

.form__input {
    outline: none;
    border: 2px solid transparent;

}

.form__input:focus {
    border: 2px solid #F5170E;
}


.title-review {
    margin-bottom: 60px;
    
}