.menu__col {
    display: flex;
    align-items: center;
}

.menu__col_align_right {
    justify-content: flex-end;
}

.general-menu {
    font-size: 14px;

}

.general-menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.general-menu__item_active .general-menu__link {
    color: #DA0100;
}

.general-menu__link {
    text-decoration: none;
}

.general-menu__item:last-child {
    margin-right: 0;
}

.general-menu__link:hover {
    color: #DA0100;
}


.header-services {
    padding-top: 28px;
}