.intro__section {
    width: 50%;
}

.intro__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.27;
    margin-bottom: 40px;
}

.intro__text {
    font-size: 18px;
    margin-bottom: 29px;
}

.intro {
    margin-bottom: 245px;
}

.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 525px;
}
