.bottom-section {
    padding-bottom: 60px;
}

.bottom-section_white {
    background: #F4F5F5;
}

.bottom-section__title{
    color: #1A1B1E;
    font-size: 48px;
    font-weight: bold;
}
.partners__tittle {
   
    padding: 70px 0 70px 0;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}
.partners__item{
    margin-bottom: 25px;
/* padding: 15px 0; */
}


.partners__img {
    max-width: 100%;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    /* justify-content: center; */
    justify-content: flex-start;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: none;
}

/* .partners__item:nth-child(4n+1) .partners__link {
    justify-content: flex-start;
} */

.partners__item:nth-child(4n) .partners__link {
    justify-content: flex-end;
}