.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__list {
    display: flex;
    padding-right: 107px;
}

.socials__link::after {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background: url('../../image/main_img/css_sprites.png');
}

.socials__link::before {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background: url('../../image/main_img/css_sprites.png');
    transition: 0.5s;
}


.socials__item_icon_telegram .socials__link::after {
    background-position: -122px -10px;
    transform: translate(-300%, -60%);
}

.socials__item_icon_telegram .socials__link:hover::after {
    background-position: -122px -66px;
}

.socials__item_icon_telegram .socials__link::before {
    background-position: -122px -66px; 
    transform: translate(-300%, -60%);
    opacity: 0;
}




.socials__item_icon_vk .socials__link::after {
    background-position:-10px -122px;
    transform: translate(-200%, -60%);
}

.socials__item_icon_vk .socials__link:hover::after {
    background-position: -66px -122px;
}
.socials__item_icon_vk .socials__link::before {
    background-position: -66px -122px; 
    transform: translate(-200%, -60%);
    opacity: 0;
}




.socials__item_icon_fb .socials__link::after {
    background-position:-10px -10px;
    transform: translate(-100%, -60%);
}

.socials__item_icon_fb .socials__link:hover::after {
    background-position: -66px -10px;
}
.socials__item_icon_fb .socials__link::before {
    background-position: -66px -10px; 
    transform: translate(-100%, -60%);
    opacity: 0;
}




.socials__item_icon_insta .socials__link::after {
    background-position:-10px -66px;
    transform: translate(0, -60%);
}

.socials__item_icon_insta .socials__link:hover::after {
    background-position: -66px -66px;
}
.socials__item_icon_insta .socials__link::before {
    background-position: -66px -66px; 
    transform: translate(0, -60%);
    opacity: 0;
}



.socials__link:hover::before{
    opacity: 1;
}
.socials__link:hover::after{
    opacity: 0;
}


