.button {
    border-radius: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #F5170E;
    font-size: 14px;
    padding: 17px 39px;
}

.intro__button:hover,
.about__button:hover {
    background: #DA0100;
}

.card__button {
    padding: 17px 29px;
}

.button_style_common,
.card__button.button_style_uncommon:hover {
    background: #F5170E;
    color: #fff;
}

.button_style_uncommon,
.card__button.button_style_common:hover {
    background: #fff;
    color: #F5170E;
}
.hello__button{
    padding: 17px 57px;
}

.hello__button:hover{
    background: #DA0100;
}



