.footer__content {
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0;
}

.footer-line {
    border-top: 1px solid rgba(255, 255, 255, 0.1);


}