
.pagination {

    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__list {
    display: flex;
    justify-content: center;

}

.pagination__info {
    margin-right: 25px;
}

.pagination__item {
    text-align: center;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    /*чтобы выровнять активную цыфру в пагинации: */
    line-height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;

}

.pagination__item-active .pagination__link {
    background: #fff;
    color: #F5170E;

}

.pagination__item .pagination__link:hover {
    background: #fff;
    color: #F5170E;

}

.pagination_theme_white {
    color: black;
}

.pagination_theme_white .pagination__item-active .pagination__link {
    background: #F5170E;
    color: #fff;
}

.pagination_theme_white .pagination__item .pagination__link:hover {
    background: #F5170E;
    color: #fff;
}