body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background: #001821;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
}

body,
html {
    height: 100%;
}

.wraper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}

a {
    color: inherit;
}


footer {
    margin-top: auto;
}

header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0px;
}


ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

